[submodule "odin-secp256k1"]
	path = odin-secp256k1
	url = git@github.com:VANADAIN/odin-secp256k1.git
[submodule "odin-rlp"]
	path = odin-rlp
	url = git@github.com:VANADAIN/odin-rlp.git
[submodule "odin-abi"]
	path = odin-abi
	url = git@github.com:VANADAIN/odin-abi.git
